body {
}

p {
  font-size: 14px;
  margin: 0;
  width: 60%;
}

ul {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}


h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3, .hello {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}


  /* For the checkpoint assignment */

h2 {
    font-family: serif;
    font-size: 3em;
  }


.hello {
  background-color: pink;
  font-family: serif;
  height: 150px;
  margin: 10px;
  width: 50%;

}
